{extend name='public/base'/}

{block name='title'}修改权限{/block}

{block name='main'}
 <!--添加管理UI-->
 <form action="{:url('/admin/auth/'.$obj.id)}" method="post">
    <input type="hidden" name="_method" value="put">
    <fieldset class="w-75">
        <!--管理员-->
        <div class="form-group row">
            <label for="name" class="col-2 col-form-label">管理员:</label>
            <div class="col-8">
            <input type="text" id="name" name="name" class="form-control" disabled value="{$obj.name}">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>
        <!--密码-->
        <div class="form-group row">
            <label for="newpassword" class="col-2 col-form-label">新密码:</label>
            <div class="col-8">
            <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="请输入新密码">
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>
        <!--权限范围-->
        <div class="form-group row">
            <label for="password" class="col-2 col-form-label">修改权限:</label>
            <div class="col-8">
                {volist name='list' id='ol'}
                <label for="{$ol.id}" class="col-form-label" >
                    
                    <input type="checkbox" id="{$ol.id}" name='role[]' value="{$ol.id}"  {volist name='alist' id='vo'} {$ol.id == $vo.role_id ? 'checked' : ''}  {/volist} >
                    
                    <span class="col-form-label-sm">{$ol.type}</span>
                    
                </label>
                {/volist}
            </div>
            <span class="col-2 text-danger col-form-label">*</span>
        </div>
        <!--协议-->
        <div class="form-group row">
            <label  class="col-2"></label>
            <div class="col-6">

            </div>
            <div class="col-2 text-right">
               <a href="{:url('/admin/auth')}">返回列表</a>
            </div>
        </div>
        <!--提交-->

        <div>
            
                
            
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label"></label>
            <div class="col-8">
                <input type="hidden" value="{:token()}" name="__token__">
            <button class="btn btn-success w-100">修改管理</button>
            </div>  
        </div>

        
    </fieldset>
</form>
{/block}